.finance {
  padding: 1rem;
  margin: 1.5rem; }

.info-container {
  position: absolute;
  max-width: 30%;
  right: 30px;
  color: #fff;
  top: 50%;
  transform: translateY(-50%); }
  .info-container a,
  .info-container a:visited {
    color: rgba(255, 255, 255, 0.7); }
  .info-container a:hover {
    color: white; }

.info-box,
.info-link {
  margin: 0.5rem 0;
  display: block; }

.info-box,
.info-icon,
.info-label {
  padding: 1rem; }

.info-notice {
  position: absolute;
  left: 0;
  bottom: 1rem;
  text-align: center;
  width: 100%; }

body.single-keszlet {
  background: #212121;
  color: rgba(255, 255, 255, 0.7); }
  body.single-keszlet .display-4 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400; }
  body.single-keszlet .lead {
    font-weight: 300; }
  body.single-keszlet .finance,
  body.single-keszlet .info-box,
  body.single-keszlet .info-link {
    background: rgba(0, 0, 0, 0.5); }

.showroom figure {
  margin: 0 0 1.5em;
  box-shadow: 2px 2px 4px 0 black; }
  .showroom figure img {
    width: 100%; }

.specifications {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem; }
  .specifications ul,
  .specifications li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-transform: none;
    text-align: center; }

.specifications-more {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem; }

.table {
  margin: 0; }
  .table th,
  .table td {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.2); }
  .table th {
    font-weight: normal; }
  .table td {
    text-align: right; }
  .table .inverse {
    margin-left: -1rem;
    margin-right: -1rem; }
    .table .inverse td,
    .table .inverse th {
      color: rgba(0, 0, 0, 0.8);
      background-color: rgba(255, 255, 255, 0.8); }

.video-intro {
  position: relative;
  height: calc(100vh - 82px);
  overflow: hidden; }
  .video-intro video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=wp-keszlet.css.map */
