.info-container {
    position: absolute;
    max-width: 30%;
    right: 30px;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);

    a,
    a:visited {
        color: rgba(255,255,255,0.7);
    }

    a:hover {
        color: rgba(255,255,255,1);
    }
}

.info-box,
.info-link {
    margin: 0.5rem 0;
    display: block;
}

.info-box,
.info-icon,
.info-label {
    padding: 1rem;
}

.info-notice {
    position: absolute;
    left: 0;
    bottom: 1rem;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 800px) {  
    .info-container {
        position: relative;
        transform: none;
        max-width: 100%;
        right: 0;

        .table td, .table th {
            font-size: 80%;
            padding: 0.25rem;
        }
    }
}