body.single-keszlet {
    background: #212121;
    color: rgba(255, 255, 255, 0.7);

    .display-4 {
        font-size: 2.5rem;
        color: #fff;
        font-weight: 400;
    }

    .lead {
        font-weight: 300;
    }

    .finance,
    .info-box,
    .info-link {
        background: rgba(0,0,0,0.5);
    }
}

