.specifications {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    
    ul,
    li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-transform: none;
        text-align: center;
    }
    
    
}

.specifications-more {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}
