.table {
    margin: 0;

    th,
    td {
        color: rgba(255,255,255,0.8);
        border-color: rgba(255,255,255,0.2)
    }

    th {
        font-weight: normal;
        // padding-left: 0;
    }

    td {
        text-align: right;
        // padding-right: 0;
    }

    .inverse {
        margin-left: -1rem;
        margin-right: -1rem;
        
        td,
        th {
            color: rgba(0,0,0,0.8);
            background-color: rgba(255,255,255,0.8);
        }
    }
    
}
